@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-rubik: 'Rubik', sans-serif;

	--color-white: hsl(0, 100%, 100%);
	--color-black: hsl(0, 0%, 0%);

	--color-grey-500: hsl(219, 13%, 44%);
	--color-grey-50: hsl(220, 38%, 97%);

	--color-blue-950: hsl(214, 24%, 23%);
	--color-blue-900: hsl(216, 25%, 25%);
	--color-blue-850: hsl(215, 27%, 32%);
	--color-blue-500: hsl(223, 100%, 59%);
	--color-blue-300: hsl(216, 47%, 78%);
	--color-blue-100: hsl(220, 50%, 95%);
	--color-blue-50: hsl(225, 100%, 96%);

	--color-green-500: hsl(151, 68%, 52%);
	--color-green-100: hsl(151, 88%, 94%);

	--color-purple-600: hsl(277, 91%, 56%);
	--color-purple-100: hsl(278, 100%, 95%);

	--color-orange-400: hsl(22, 100%, 60%);
	--color-orange-50: hsl(27, 100%, 96%);

	--color-red-500: hsl(0, 82%, 63%);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply font-rubik antialiased
		bg-grey-50 dark:bg-blue-900

		bg-[url('../assets/images/pattern-background-mobile-light.svg')]
		dark:bg-[url('../assets/images/pattern-background-mobile-dark.svg')]

		md:bg-[url('../assets/images/pattern-background-tablet-light.svg')]
		md:dark:bg-[url('../assets/images/pattern-background-tablet-dark.svg')]

		xl:bg-[url('../assets/images/pattern-background-desktop-light.svg')]
		xl:dark:bg-[url('../assets/images/pattern-background-desktop-dark.svg')]

		bg-no-repeat bg-top bg-cover;
	}
}

@utility text-preset1 {
	font-size: 9rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset1-mobile {
	font-size: 5.5rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset2-medium {
	font-size: 4rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset2-medium-mobile {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset2-light {
	font-size: 4rem;
	font-weight: 300;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset2-light-mobile {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset3 {
	font-size: 2.25rem;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0;
}

@utility text-preset3-mobile {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0;
}

@utility text-preset4 {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset4-mobile {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0;
}

@utility text-preset5-medium {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0;
}

@utility text-preset5-mobile {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
	font-style: italic;
}

@utility text-preset5-regular {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
}

@utility text-preset6 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
	font-style: italic;
}

@utility boxShadowLight {
	box-shadow: 0px 16px 40px 0px #8fa0c124;
}

@utility boxShadowDark {
	box-shadow: 0px 16px 40px 0px hsla(216, 25%, 25%, 0.14);
}

@utility optionBtn {
	@apply w-full border-3 border-transparent flex items-center justify-between bg-white rounded-xl p-4 boxShadowLight cursor-pointer dark:boxShadowDark dark:bg-blue-850  md:rounded-3xl xl:p-6;

	div {
		@apply flex items-center gap-4 md:gap-8;

		span {
			@apply flex items-center justify-center h-10 w-10 rounded-md bg-grey-50 text-grey-500 text-preset4-mobile md:h-14 md:w-14 md:rounded-xl md:text-preset4;
		}

		strong {
			@apply text-preset4-mobile text-blue-900 dark:text-white md:text-preset4;
		}
	}

	&.active {
		@apply border-3 border-purple-600;

		span {
			@apply bg-purple-600 text-white dark:text-blue-850;
		}
	}

	&.correct {
		@apply border-3 border-green-500;

		span {
			@apply bg-green-500 text-white dark:text-blue-850;
		}
	}

	&.incorrect {
		@apply border-3 border-red-500;

		span {
			@apply bg-red-500 text-white dark:text-blue-850;
		}
	}
}

@utility sr-only {
	position: absolute;
	inset: 0;
	width: 0.063rem;
	height: 0.063rem;
	padding: 0;
	margin: -0.063rem;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
}
